{% extends 'base.html.twig' %}

{% block title %}Index Oshop
{% endblock %}

{% block body %}

	<section>
		<div class="container-fluid">
			<div class="row mx-0">
				{% for i in 0..1 %}
					<div class="col-md-6">
						<div class="card border-0 text-white text-center"><img src="{{data['categories'][i].picture}}" alt="Card image" class="card-img">
							<div class="card-img-overlay d-flex align-items-center">
								<div class="w-100 py-3">
									<h2 class="display-3 font-weight-bold mb-4">{{data['categories'][i].name}}</h2>
									<a href="{{path('app_main_category', {id : data['categories'][i].id })}}" class="btn btn-light">Découvrir</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

				<div class="row mx-0">
					{% for i in 2..4 %}
						<div class="col-lg-4">
							<div class="card border-0 text-center text-white"><img src="{{data['categories'][i].picture}}" alt="Card image" class="card-img">
								<div class="card-img-overlay d-flex align-items-center">
									<div class="w-100">
										<h2 class="display-4 mb-4">{{data['categories'][i].name}}</h2>
										<a href="{{path('app_main_category', {id : data['categories'][i].id })}}" class="btn btn-link text-white">Faire un tour
											<i class="fa-arrow-right fa ml-2"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>
		</section>
	{% endblock %}

